{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block head_js %}
<script type="text/javascript">
$( document ).ready(function() {
    var submitted = "{{ submitted }}";
            console.log(submitted);
    if (submitted == "Yes") {
        $('#btnSubmit').text("Enquiry Sent");
        $("#btnSubmit").attr("disabled", true);

    } else if (submitted == "No") {
        $('#btnSubmit').text("TRY AGAIN - SEND ENQUIRY!!");
        $("#btnSubmit").attr("disabled", false);
    }
        });
</script>

{% endblock %}

{% block content %}
    <div class="container">
    <div class="alert alert-success">
        <h2>Contact We Are Social</h2>
        <p>If you have any questions or special requests, please use the form below to send us an enquiry.  We aim to reply to all enquiries within 24 hours.</p>
    </div>
    <form name="contactForm" method="post" action="{% url 'contact' %}">
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <button type="submit" class="btn btn-primary" id="btnSubmit">Send Enquiry</button>
    </form>
    </div>
{% endblock %}