{% extends "base.html" %}
{% block content %}
    <div class="container">
         <div class="col-md-12">
            {% if post.image %}
            <div class="col-md-2 col-sm-3 text-center">
                {% if post.image %}
                        <img src="/media/{{ post.image}}" class="img-circle" alt="{{ post.title }}">
                {% endif %}
            </div>
            {% endif %}
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        {{ post.content|linebreaks}}
                        <p>
                            <button class="btn btn-default" onclick="location.href='/blog'">Back to Posts</button>
                            {% if user.is_superuser %}
                            <button class="btn btn-warning" onclick="location.href='edit'">Edit Post</button>
                            {% endif %}
                        </p>
                        <p>{{ post.published_date }} | <strong>Views:</strong> {{ post.views }} | <strong>Tags:</strong> {{ post.tag }}</p>
                            {% load disqus_tags %}
                            {% set_disqus_title post.title %}
                            {% disqus_show_comments %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}