{% extends 'base-home.html' %}
{% load thread_extras %}
{% block content_home_blog %}
    <h3 class="homeHeading">{{ posts.title }}</h3>
    <p class="homeHeading">{{ posts.content |truncatewords:40 }}</p>
{% endblock %}

{% block content_home_forum %}
    <h3 class="homeHeading">Forum Latest: There are: {{ forum_subjects.count }} Live Forums</h3>

    {% for forum_subject in forum_subjects %}
        {% autoescape off %}
        <div class="box">
            <article>
                <div class="col-md-12">
                    <a href="{% url 'threads' forum_subject.id %}"><h4 class="homeHeading">{{ forum_subject.name }}</h4></a>
                </div>
                <div class="col-md-6">
                    <section><p  class="homeHeading"># Live Debates: <strong>{{ forum_subject|get_total_subject_threads }}</strong></p></section>
                </div>
                <div class="col-md-6">
                    <section><p  class="homeHeading"># Posts: <strong>{{ forum_subject|get_total_subject_posts }}</strong></p></section>
                </div>

            </article>
        </div>
        {% endautoescape %}
    {% endfor %}
    <footer class="footer">
        <a class="btn btn-primary outline" href="/forum/">Enter the Forum</a>
    </footer>
{% endblock %}

{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="homeHeading">About We Are Social</h2>
                <p class="text-faded">We Are Social is a web developer community social enterprise that allows community organisations and web developers to talk about ideas, and develop innovative new web applications which benefit society.</p>
                <p class="text-faded">Anyone can join, as long as you are either a web developer looking to use your expertise to benefits socity, or you are from a community group or organisation.  We also welcome anyone who wants to get invloved and make a difference for their community or society at leage.</p>
                <a class="btn btn-primary outline" href="/pages/about/" id="infoButton" type="button" autofocus>Find Out More...</a>
                <br>
            </div>
        </div>
    </section>

    <section class="bg-secondary">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="homeHeading">Our Locations</h2>
                <h3 class="homeHeading">Strategically Located Throughout The World</h3>
                <a href="/locations/"><img class="img-thumbnail img-responsive" id="mapImage" src="https://maps.googleapis.com/maps/api/staticmap?center=51.4989098,0.0063561&zoom=14&maptype=terrain&size=200x200&key=AIzaSyBU_PttTHHVTJvyAzro3qNihkeh9oxkFmY" /></a>
                <footer class="footer"><a class="btn btn-primary outline" href="/locations/">Find US!</a></footer>
            </div>
        </div>
    </section>
{% endblock %}