{% extends 'base.html' %}
{% load thread_extras %}
{% load bootstrap_tags %}
{% block content_header %}
<h1 class="homeHeading">We Are Social - Forum</h1>
<h2 class="homeHeading">This is where YOU get to talk about your ideas</h2>
{% endblock %}
{% block content %}
    <div class="container">
    {% for subject in subjects %}
        <article>
            <section class="subject">
                <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
                <p><a href="{% url 'threads' subject.id%}">{% autoescape off %} {{ subject.description }} {% endautoescape %}</a> </p>
            </section>
            <div class="col-md-4">
                <section>Number of Live Debates in this Forum: {{ subject.thread.count }}</section>
            </div>
            <div class="col-md-4">
                <section>Number of Posts: {{ subject|get_total_subject_posts }}</section>
            </div>
            <div class="col-md-4">
                <section><a class="btn btn-info" href="{% url 'threads' subject.id%}">Enter Forum</a></section>
            </div>
        </article>
{% endfor %}
    </div>
{% endblock %}