@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body { padding-top: 70px;
       font-family: Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.navbar-default {
        border: none;
        background: #000;

    }
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: #fff;
    background-color: #800080;
    font-weight: bold;

}

.navbar-default .navbar-toggle {
    color: #fff;
    background-color: #000000;
    font-weight: bold;

    border: 2px solid #800080;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #800080;
    border-color: #800080;
}

h1, h2, h3, h4 {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #000;
}
