{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content_header %}
<h1 class="homeHeading">Log In</h1>
<h2 class="homeHeading">With Username and Password Below</h2>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'login' %}">
            <fieldset>
                <legend>Login to We Are Social</legend>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Log In">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}