{% extends 'base.html' %}
{% block content_header %}
{% load django_bootstrap_breadcrumbs %}
<h1 class="homeHeading">Register</h1>
<h2 class="homeHeading">A Small Price to Pay</h2>
{% endblock %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
            Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <article>
            <section><h2>Register with We Are Social</h2></section>
            <section><p>We Are Social is a community that relies on subscriptions.  The monthly subscription is just £2 per month.  You can cancel your subscription at any time.</p></section>
        </article>
        <form action="{% url 'register' %}" method="POST" id="register-form">
            <div id="credit-card-errors" style="display:none;">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <fieldset>
                <legend>Create a new account</legend>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Validate Credit card" id="calidate_card_btn" name="commit">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}