{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block head_js %}
<script type="text/javascript">
    $(function(){
    $("#catkin-reset-form").submit(function () {

        $("#Reset_Account").attr("disabled", true);
        });
    var submitted = $('#preset').text()
        if (submitted == "True"){
            console.log(submitted);
            $("#Reset_Account").attr("disabled", true);
            $("#Reset_Account").val("User Account Reset");
        };
    });
</script>
{% endblock %}
{% block content %}
<div class="container">
    <p class="hidden" id="preset">{{ reset }}</p>
    <form role="form" method="post" id="catkin-reset-form" action="{% url 'reset' %}">
        <legend>Reset User Account 1</legend>
            {% csrf_token %}
            {{ form |as_bootstrap }}
            <div class="form-group">

                <input type="submit" class="btn btn-primary" id="Reset_Account" name="reset_account" value="Reset Account">
            </div>
    </form>
</div>
{% endblock %}